{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<!-- inner page banner -->
<div  id="inner_banner" class="section inner_banner_section">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div style="padding-left: 150px;" class="title-holder-cell text-left">
              <h1 style="font-size: 70px;" class="page-title">اتصل بنا</h1>
              <ol class="breadcrumb">
                <li style="font-size: 50px;" class="active">اتصل بنا</li>

                <li><a  style="font-size: 50px;" href="{% url 'laptop:home' %}">الصفحة الرئيسية</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1" >
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="full">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 adress_cont margin_bottom_30" >
              <h4 style="text-align: right;">عنواننا</h4>
              <p style="color: aliceblue;text-align: right;">حمص - وادي الدهب - مقابل مشفى الأهرام.</p>
              <div style="padding-right: 30px;" class="information_bottom left-side margin_bottom_20_all">
                <a href="https://wa.me/qr/KLROJSI2MUTOL1"><div class="icon_bottom"> <i style="font-size: 70px;padding-top: 40px;" class="fa fa-whatsapp" aria-hidden="true"></i> </div>
                <div >
                  <h4 style="font-size: 30px;padding-top: 80px;">Whatsapp</h4>
                  <p style="font-size: 30px; padding-top: 30px;"> 0993178291</p></a>
                </div>
              </div>
              <div style="padding-right: 30px;"  class="information_bottom left-side margin_bottom_20_all">
                <a  href="https://www.facebook.com/profile.php?id=61557618479960&mibextid=ZbWKwL"><div style="font-size: 70px;" class="icon_bottom"> <i class="fa fa-facebook" aria-hidden="true"></i> </div>
                <div >
                  <h4 style="font-size: 30px;padding-top: 80px;">facebook</h4>
                 <p  style="font-size: 30px; padding-top: 30px;"> Laptop Land</p></a> 
                </div>
              </div>
              <div class="information_bottom left-side margin_bottom_20_all">
                <a  href="https://www.instagram.com/laptopland2024?igsh=Mzh1bmNyNjQxcWU5"><div style="font-size: 70px;" class="icon_bottom"> <i class="fa fa-instagram" aria-hidden="true"></i> </div>
                <div >
                  <h4  style="font-size: 30px;padding-top: 80px;">instagram</h4>
               <p style="font-size: 30px; padding-top: 30px;"> Laptop Land</p></a> 
                </div>
              </div>
            
         
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
