{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<!-- section -->
<div id="slider" class="section main_slider">
  <div class="container-fuild">
    <div class="row">
      <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
          <ul>
            <li data-index="rs-1812" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000">
              <img src="{% static 'images/ss1.jpg' %}" alt="#" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <div class="tp-caption tp-shape tp-shapewrapper" style="z-index: 5; background-color: rgba(0, 0, 0, 0.25); display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;"></div>
              
              <!-- First Text Layer -->
              <span style="z-index: 10; text-align: center; color: black;" 
                    data-start="1500" 
                    data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;" 
                    data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;">
                  خدمات اللابتوب
              </span>
          
              <!-- New Title Layer: Competitive Prices -->
       <!-- New Title Layer: Competitive Prices -->
       <div class="tp-caption NotGeneric-Title tp-resizeme" 
       data-x="left" 
       data-y="middle" 
       data-voffset="100" 
       data-fontsize="['50','50','50','30']" 
       data-lineheight="['50','50','50','30']" 
       data-transform_idle="o:1;" 
       data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;" 
       data-transform_out="x:50px;opacity:0;s:1000;e:Power3.easeInOut;" 
       data-start="2000" 
       style="z-index: 11; color: #ffffff; text-align: center; padding: 50px 60px; background-color: rgba(0, 0, 0, 0.5);">
       Laptop Land
   </div>
   
   

          </li>
          
          <li data-index="rs-181" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000">
              <!-- MAIN IMAGE -->
              <img src="{% static 'images/ss2.jpg' %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
          
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper" data-x="center" data-y="middle" data-width="full" data-height="full" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-start="750" style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);">
              </div>
          
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title tp-resizeme" data-x="center" data-y="middle" data-voffset="0" data-fontsize="['70','70','70','35']" data-lineheight="['70','70','70','50']" data-transform_idle="o:1;" data-transform_in="y:[-100%];s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-start="1000" style="z-index: 6;">
                  خدمات اللابتوب
              </div>
          
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle tp-resizeme" data-x="center" data-y="middle" data-voffset="52" data-transform_idle="o:1;" data-transform_in="y:[100%];opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-start="1500" style="z-index: 7;">
                  متوفر عند لابتوب لاند
              </div>
          </li>
          
          <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000">
              <!-- MAIN IMAGE -->
              <img src="{% static 'images/ss3.jpg' %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" class="rev-slidebg" data-no-retina>
          
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper" data-x="center" data-y="middle" data-width="full" data-height="full" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-start="2500" style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);">
              </div>
          
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title tp-resizeme" data-x="center" data-y="middle" data-voffset="175" data-fontsize="['70','70','70','35']" data-lineheight="['70','70','70','50']" data-transform_idle="o:1;" data-transform_in="y:[-100%];s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-start="1000" style="z-index: 6;">
                  تقديم أفضل عروض اللابتوب
              </div>
          
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle tp-resizeme" data-x="center" data-y="middle" data-voffset="220" data-transform_idle="o:1;" data-transform_in="y:[100%];opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-start="1500" style="z-index: 7;">
                  بأسعار معقولة
              </div>
          </li>
          </ul>
          <div class="tp-static-layers"></div>
          
        </div>
        <div class="tp-bullets metis horizontal nav-pos-hor-center nav-pos-ver-bottom nav-dir-horizontal noSwipe" style="width: 160px; height: 50px; top: 100%; transform: matrix(1, 0, 0, 1, -80, -80); left: 50%; visibility: hidden; opacity: 0;">
          <div class="tp-bullet selected" style="left: 0px; top: 0px;"><span class="tp-bullet-img-wrap">  <span class="tp-bullet-image" style="background-image: url(&quot;images/it_service/slide1.jpg&quot;);"></span></span><span class="tp-bullet-title">Computer Services</span></div>
          <div class="tp-bullet" style="left: 55px; top: 0px;"><span class="tp-bullet-img-wrap">  <span class="tp-bullet-image" style="background-image: url(&quot;images/it_service/slide2.jpg&quot;);"></span></span><span class="tp-bullet-title">Easy To Use &amp; Customize</span></div>
          <div class="tp-bullet" style="left: 110px; top: 0px;"><span class="tp-bullet-img-wrap">  <span class="tp-bullet-image" style="background-image: url(&quot;images/it_service/slide3.jpg&quot;);"></span></span><span class="tp-bullet-title">Perfectly Responsive</span></div></div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>لماذا نحن </h2>
            <p class="large"> خيارك الأفضل</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img style="width: 250px;" src="{% static 'images/goods.png' %}" alt="#" /> </div>
          </div>
          <h4 class="theme_color">جودة البضائع</h4>
          <p>نحرص في متجرنا على تقديم أعلى مستويات الجودة في جميع اللابتوبات التي نقدمها. جميع الأجهزة المتوفرة لدينا من علامات تجارية موثوقة ومعروفة بجودتها العالية وأدائها المتفوق. نضمن أن يحصل عملاؤنا على أجهزة متينة تدوم طويلاً وتوفر لهم أفضل تجربة استخدام ممكنة.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img style="width: 250px;" src="{% static 'images/price.png' %}" alt="#" /> </div>
          </div>
          <h4 class="theme_color">أسعار تنافسية</h4>
          <p>في متجرنا، نفهم أهمية السعر المناسب لعملائنا. لذلك، نعمل على تقديم أسعار تنافسية تتماشى مع ميزانيات الجميع دون المساس بجودة المنتجات. نقدم عروضًا خاصة وتخفيضات دورية لتجعل تجربة التسوق لدينا أكثر قيمة وفعالية.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img  style="width: 250px;" src="{% static 'images/client.svg' %}" alt="#" /> </div>
          </div>
          <h4 class="theme_color">خدمة العملاء</h4>
          <p>نلتزم بتقديم أفضل خدمة عملاء ممكنة، من اللحظة التي تدخل فيها إلى متجرنا وحتى ما بعد عملية الشراء. فريقنا مستعد للإجابة عن جميع استفساراتك ومساعدتك في اختيار الجهاز الأنسب لاحتياجاتك. رضاك هو هدفنا الأساسي، ولذلك نحرص على توفير دعم مستمر لضمان تجربة تسوق مرضية وسلسة.</p>
        </div>
      </div>
    
    </div>
    <div class="row" style="margin-top: 35px;">

      <div class="col-md-4">
        <div class="full" style="margin-top: 35px;text-align: center;">
            <h3>على ماذا يحتوي متجرنا ؟</h3>
            <p>نحن ملتزمون بتقديم تجربة تسوق شاملة، حيث يمكنك الاستفادة من خبرتنا واختيار الجهاز المثالي الذي يلبي متطلباتك. يمكنك الضغط على أزرار القوائم التالية لمعرفة لمحة عن التفاصيل.</p>
            <p><a class="btn main_bt" href="#">اعرف المزيد</a></p>
        </div>
    </div>
      <div class="col-md-8">
          <div class="full margin_bottom_30">
              <div class="accordion border_circle">
                  <div class="bs-example">
                      <div class="panel-group" id="accordion" dir="rtl">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <p class="panel-title" style="text-align: right;">
                                      
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="float: right;">
                                          <i class="fa fa-angle-down"></i>
                                          <i class="fa fa-laptop" aria-hidden="true"></i> <span style="color: black;">لابتوبات</span>
                                      </a>
                                  </p>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <p style="text-align: right;"> يتوفر لدينا جميع أنواع اللابتوبات بمختلف المواصفات تلبي احتياجاتكم من المواصفات المكتبية إلى أجهزة التصميم ... </p>
                                  </div>
                              </div>
                          </div>
  
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <p class="panel-title" style="text-align: right;">
                                      
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="float: right;">
                                          <i class="fa fa-angle-down"></i>
                                          <i class="fa fa-suitcase"></i><span style="color: black;">حقائب</span>
                                      </a>
                                  </p>
                              </div>
                              <div id="collapseTwo" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <p style="text-align: right;"> يتوفر لدينا حقائب لابتوب بمختلف المزايا والأشكال وحقائب شخصية عالية الجودة ...</p>
                                  </div>
                              </div>
                          </div>
  
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <p class="panel-title" style="text-align: right;">
                                     
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="float: right;">
                                          <i class="fa fa-angle-down"></i>
                                          <i class="fa fa-headphones"></i> <span style="color: black;">اكسسوار لابتوب</span>
                                      </a>
                                  </p>
                              </div>
                              <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <pre style="text-align: right;"> يوفر لدينا شواحن لابتوب - بطاريات لابتوب - ماوسات عادية سلكي و لاسلكي - ماوسات غيمينغ 
  هاردات داخلية وخارجية - كيبوردات عادية سلكية و لاسلكية - كيبوردات غيمينغ - ماوس باد</pre>
                                  </div>
                              </div>
                          </div>
  
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <p class="panel-title" style="text-align: right;">
                                     
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="float: right;">
                                          <i class="fa fa-angle-down"></i>
                                          <i class="fa fa-mobile" aria-hidden="true"></i> <span style="color: black;">اكسسوار موبايل</span>
                                      </a>
                                  </p>
                              </div>
                              <div id="collapseFour" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <p style="text-align: right;">يتوفر لدينا سماعات عادية - سماعات هيدفون - سماعات بلوتوث - وصلات شحن لكل أنواع الموبايلات - شواحن كاملة</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
  </div>
  
  
  
  
  </div>
</div>
<!-- end section -->

<!-- section -->
<div  class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>منتجاتنا</h2>
            <p class="large"> نهتم بتقديمها بأفضل حالة لتوفر لك تجربة مريحة ومرضية</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="our_products">
              <div class="row">
                  {% for item in product %}
                      <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                          <div class="product_list">
                              <div class="product_img"> 
                                  <img class="img-responsive" src="{{ item.image.url }}" alt="{{ item.name }}"> 
                              </div>
                              <div class="product_detail_btm">
                                  <div class="center">
                                    <h4><a href="{% url 'laptop:products_by_category' item.category.name %}">{{ item.name }}</a></h4>
                                  </div>
                                  <div><span>{{ item.description1 }}</span></div>
                                  <div class="starratin">
                                      <div class="center"> 
                                          <i class="fa fa-star" aria-hidden="true"></i> 
                                          <i class="fa fa-star" aria-hidden="true"></i> 
                                          <i class="fa fa-star" aria-hidden="true"></i> 
                                          <i class="fa fa-star" aria-hidden="true"></i> 
                                          <i class="fa fa-star-o" aria-hidden="true"></i> 
                                      </div>
                                  </div>
                                  <div class="product_price">
                                      <p>
                                          <span class="old_price">{{ item.price }}</span> – 
                                          <span style="color: aliceblue;" class="new_price">{{ item.price2 }}</span>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
  
    
  </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>عن خدماتنا</h2>
            <p class="large">أسهل طريقة للحصول على لابتوب</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" dir="rtl">
        <div class="row">
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2 text_align_center"> <!-- إضافة هنا -->
                <div class="icon text_align_right"><i class="fa fa-wrench"></i></div>
                <h4 class="service-heading"> صيانة  </h4>
                <p>نحرص على تقديم خدمات صيانة صادقة وشفافة تضمن رضا العملاء وثقتهم بنا.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2 text_align_center"> <!-- إضافة هنا -->
                <div class="icon text_align_left"><i class="fa fa-cog"></i></div>
                <h4 class="service-heading">دفع فواتير </h4>
                <p> نوفر لكم دفع لفواتير الانترنت و خدمات سيرياتيل كاش . </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2 text_align_center"> <!-- إضافة هنا -->
                <div class="icon text_align_left"><i class="fa fa-history"></i></div>
                <h4 class="service-heading"> سوفت وير</h4>
                <p>فريقنا من المهندسين المتخصصين يوفر حلول سوفت وير شاملة لمشاكل الأجهزة المختلفة</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2 text_align_center"> <!-- إضافة هنا -->
                <div class="icon text_align_left"><i class="fa fa-heart-o"></i></div>
                <h4 class="service-heading"> بيع وشراء لابتوبات</h4>
                <p>نقدم أفضل العروض لبيع وشراء اللابتوبات بأسعار منافسة وخدمات متميزة</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end section -->

<!-- section -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <ul class="brand_list" style="list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; justify-content: space-between;">
            {% for b in brand %}
            <li class="col-6 col-md-3" style="margin-bottom: 20px; text-align: center;">
                <a href="{% url 'laptop:laptop_by_brand' b.name %}">
                    <img style="width: 100%; height: auto;" src="{{ b.image.url }}" alt="{{ b.name }}" />
                </a> 
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="search_bar" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
            <div class="navbar-search">
              <form action="#" method="get" id="search-global-form" class="search-global">
                <input type="text" placeholder="Type to search" autocomplete="off" name="s" id="search" value="" class="search-global__input">
                <button class="search-global__btn"><i class="fa fa-search"></i></button>
                <div class="search-global__note">Begin typing your search above and press return to search.</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Model search bar -->





<!-- end section -->
{% endblock body %}
